// -----------------------------------------------
//  Custom variables
// -----------------------------------------------
$cfgray: #e8e8e8;
$pallete_one: #33528b;
$homebg: #0e254c;
$pallete_two: #333A56;
$pallete_three: #395288;
$pallete_four: #26C281;
$pallete_five: #2bac76;
$pallete_six: #269b6a;
$pallete_main_text: #444444;
$footer_links: #888;
$light_text_color: rgba(255, 255, 255, 0.8);
$dark_text_color: rgba(0, 0, 0, 0.8);

$bgcolor: #e8e8e8;
$textcolorb: #5b5b5b;
$textcolora: #000000;
$up: green;
$down: #f9672d;