.cf-chart{
	min-height:400px;
}
.cf-chart-selection-wrapper{
	background-color: #e8e8e8;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.cf-chart-title{
	font-size:30px;
}
.cf-chart-item-indicator{
	padding: 8px;
	
}
.cf-chart-item-indicator-wrapper{
	background-color: #fafafa;
	padding: 15px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.50);
	margin-bottom: 15px;
}
.cf-iik{
	text-align: center;
	font-size: 10px;
	display: block;
	margin-top: 10px;
}
.cf-iiv{
	text-align: center;	
	font-size:26px;
	display: block;
}
.cf-market-overview{
	padding-top: 15px !important
}
.cf-market-link{
	text-decoration: underline;
}