<header class="bg-about" id="aboutus">
    <h1 class="main-hero">Contact us</h1>
    <h3 class="light-color">
        Here are a few ways to get in touch with us
    </h3>
</header>
<div class="general-content my-5">
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <h3>Reasons for your inquiry?</h3>
          <p>Please select the purpose of your inquiry</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12  col-md-4 text-center mb-5">
        <img style="width:80px; margin-bottom: 10px;" src="/images/icons/247support.png">
        <h4 class="mb-4"><strong>Customer Support</strong></h4>
        <div class="contact-column">Get answers fast by opening a support ticket or browse our knowledge center & FAQ to find answers to general questions.</div>
        <a class="btn btn-primary" href="https://support.coinfield.com">Support Center</a>
     </div>
     <div class="col-12  col-md-4 text-center mb-5">
        <img style="width:80px; margin-bottom: 10px;" src="/images/icons/email.png">
        <h4 class="mb-4"><strong>General Inquiry</strong></h4>
        <div class="contact-column">You can get answers much faster if you go through our ticketing center but drop us a line if you just want to say hello!</div>
        <a class="btn btn-primary" href="mailto:support@coinfield.com?subject=General Inquiry">Send Email</a>

      </div>
      <div class="col-12  col-md-4 text-center mb-5">
        <img style="width:80px; margin-bottom: 10px;" src="/images/icons/largeinvestment.png">
        <h4 class="mb-4"><strong>Large Investment</strong></h4>
        <div class="contact-column">Planing to fund your account with a large sum of money? Sure, we can take care of that. Send us details of your investment and your contact info.</div>
        <a class="btn btn-primary" href="mailto:support@coinfield.com?subject=Large Investment Request&body=Please include the details of your investment, amount and your plans.">Request Info</a>
      </div>
    </div>
  </div>
</div>


{{outlet}}